# Local development environment overrides
/local.nix

#Task
/.task/
/Taskfile.yaml
/Taskfile.yml

# Misc
.DS_Store
.todo

# Dependencies
/node_modules/

# Build
/build/

# Debug
*.log

# Typescript
*.tsbuildinfo

# Next.js
next-env.d.ts

# Environment variables
/.env
/.env.*
