.outter {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
  height: 100%;
  padding: 0;
  width: 100%;
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: var(--mantine-spacing-xl);
}
